<div class="abt">
    <h1 class="t">I am Teddy Justin Bermudo,</h1>
    <p class="desc">I am currently residing with my parents in Tankulan, Manolo Fortich, Bukidnon.
        I was born on the 23rd day of June in the year 2003. Currently taking the course
        Bachelor of Science in Information Technology, still holding up my self in my Sophomore year.
        I like playing Basketball, having road trips, jogging and my most loved hobby of all, suffering.
        I am a the middle child of 3 siblings and the only boy.
        I grew up around physically active parents, has a very active background, 
        but ended up working in front of a computer. God works in mysterious ways.</p>
    <img class="teddy2" src="../img/teddy2.jpg" width="400px" height="auto">
</div>