<div class="proj">
    <h5>Throughout our journey as an IT, we mostly recieve Java programming language activities.</h5>
    <h5>Here are some of our activities made:</h5>
    <br>
    <h3 class="nm">1. Point of Sale System</h3>
    <div class="pos"></div>
    <h6 class="desc">A simple point of sale (POS) system is a software application designed to streamline and facilitate sales transactions at retail locations.</h6>
    <br>
    <h3 class="nm">2. Task Managing System</h3>
    <div class="tms"></div>
    <h6 class="desc">A task management system is a software application designed to efficiently organize, track, and prioritize tasks within a team or individual workflow.</h6>
    <br><br><br><br>
    <h3 class="nm">3. Calculator</h3>
    <div class="calc"></div>
    <h6 class="desc">A calculator is a device or software application designed for performing mathematical calculations.</h6>
    <br><br><br><br><br><br>
    <h3 class="nm">4. Pixel Pursuit</h3>
    <div class="pp"></div>
    <h6 class="desc">Pixel Pursuit is a game I, Teddy Justin Bermudo and my fellow classmates made for the GameDev in our freshman year. We were tasked to do a rip-off of the game "Pacman" but with a twist, so we made a horror themed "Pacman" with random events that will happen in game.</h6>
    <br><br>
    <h6 class="desc">This photo only shows the template for our code where "Pacman" can navigate.</h6>
    
</div>